//@TODO: Organise stylesheets constructively
table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

/* Footer */
#proliga_area {
  .footer {
    h6 {
      color: $white;
      text-align: center;
    }

    li {
      list-style: none;
      color: grey;
    }

    a {
      color: grey;
    }

    .nav-lin {
      color: grey;
    }
  }
}