// Basic Colours
//$primary:;
//$primary-contrast;
//$primary-text;
//$secondary;
//$secondary-contrast;
//$secondary-text;
$white: #fff;
$black: #000;

// Breakpoints for Media queries
$screen-sm-min: 576px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 768px; // (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops