
<!-- Navigation -->

<div class="welcome custom-welcome d-flex justify-content-center flex-column">
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark pt-4 px-0">
    <img src="assets/img/logo.png" alt="Example Navbar 1" class="mr-2" height="50px">
    <a class="navbar-brand" routerLink="/">ProLiga</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mr-auto" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li [ngClass]="{'nav-item': true, 'active': activeRoute('/')}" class="nav-item active">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li [ngClass]="{'nav-item': true, 'active': activeRoute('/tables')}">
          <a class="nav-link" [routerLink]="['tables']">Tables</a>
        </li>
        <li [ngClass]="{'nav-item': true, 'active': activeRoute('/clubs')}">
          <a class="nav-link" [routerLink]="['/clubs']">Clubs</a>
        </li>
        <li [ngClass]="{'nav-item': true, 'active': activeRoute('/players')}">
          <a class="nav-link" [routerLink]="['/players']">Players</a>
        </li>
        <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link dropdown-toggle" href="https://designrevision.com" id="navbarDropdownMenuLink-3"-->
              <!--data-toggle="dropdown" aria-haspopup="true"-->
              <!--aria-expanded="false">-->
            <!--Services-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink-3">-->
            <!--<a class="dropdown-item" href="#">Design</a>-->
            <!--<a class="dropdown-item" href="#">Development</a>-->
            <!--<a class="dropdown-item" href="#">Marketing</a>-->
          <!--</div>-->
        <!--</li>-->
      </ul>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-facebook"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"><i class="fa fa-github"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
  <!-- / Navigation -->

  <!-- Inner Wrapper -->
  <div class="inner-wrapper mt-auto mb-auto container">
    <div class="row">
      <div class="col-md-7">
          <h1 class="welcome-heading display-4 text-white">Product Development</h1>
          <p class="text-white">We can help you take your idea from concept to shipping using the latest technologies and best practices available.</p>
          <a href="#our-services" class="btn btn-lg btn-outline-white btn-pill align-self-center">Learn More</a>
      </div>
    </div>
  </div>
  <!-- / Inner Wrapper -->

</div>