<nav class="navbar navbar-default">
  <!-- Nav bar Container -->
  <div class="container">

    <!-- Navbar Header [contains both toggle button and navbar brand] -->
    <div class="navbar-header">
      <!-- Toggle Button [handles opening navbar components on mobile screens] -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded="false">
        <i class="glyphicon glyphicon-align-center"></i>
      </button>

      <!-- Navbar Brand -->
      <a href="#" class="navbar-brand">
        Proliga
      </a>
    </div>

    <!-- Navbar Collapse [contains navbar components such as navbar menu and forms -->
    <div class="collapse navbar-collapse" id="exampleNavComponents">

      <!-- Navbar Menu -->
      <ul class="nav navbar-nav navbar-right">
        <li [ngClass]="{active: activeRoute('tables')}">
          <a [routerLink]="['/tables']">Tables</a>
        </li>
        <li [ngClass]="{active: activeRoute('clubs')}">
          <a [routerLink]="['/clubs']">Clubs</a>
        </li>
        <li [ngClass]="{active: activeRoute('players')}">
          <a [routerLink]="['/players']">Players</a>
        </li>
        <!-- Navbar link with a dropdown menu -->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown-->
            <!--<span class="caret"></span>-->
          <!--</a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Action</a></li>-->
            <!--<li><a href="#">Another action</a></li>-->
            <!--<li><a href="#">Something else here</a></li>-->
            <!--<li><a href="#">Separated link</a></li>-->
            <!--<li><a href="#">One more separated link</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</nav>
