<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="playerName">
      <mat-header-cell *matHeaderCellDef>Player</mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.first_name + ' ' + player.last_name }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="club">
      <mat-header-cell *matHeaderCellDef>Club</mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.current_club.club_name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="nationality">
      <mat-header-cell *matHeaderCellDef>Nationality</mat-header-cell>
      <mat-cell *matCellDef="let player">{{player.nationality}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>