<div class="container">
  <div class="row">
    <div *ngFor="let club of clubs" class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="{{club.logo_key}}" alt="{{club.name}}">
        <div class="card-body">
          <h4 class="card-title">{{club.name}}</h4>
          <!--<p class="card-text">{{club.description}}</p>-->
          <a href="#" class="btn btn-primary">Club Profile <i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

